---
import LogoRestaurant from "@/assets/LogoRestaurant.astro";
---
<div class="flex-1 flex ">
  <a href="/" class="">
     <LogoRestaurant class="w-30 fill-neutral-950 dark:fill-neutral-50 transition-colors duration-300" />
  </a>
</div>