---
import ExitIcon from "@/assets/ExitIcon.astro"
---
<nav class="flex-1 flex items-center justify-end relative">
  <div class="grid grid-cols-[auto_auto]">
    <button class="" >
      <ExitIcon class="w-8 fill-neutral-800 dark:fill-neutral-400" />
    </button>
    <div class="absolute top-0 left-[110%] bg-white/80 backdrop-blur-2xl p-2 rounded-lg ">
      <ul class="">
        <li>Categorias</li>
        <li>Servicios</li>
      </ul>
    </div>
  </div>
</nav>