---
import LinkNav from "@/assets/LinkNav.astro"
---

<nav class="flex-1 flex justify-end">
  <ul class="flex items-center justify-center gap-1">
    <LinkNav href="#" text="Menú" />
    <LinkNav href="#" text="Servicios" />
  </ul>
</nav>
