---
import LinkNav from "@/assets/LinkNav.astro"
---
<nav class="flex-1 flex justify-start">
  <ul class="flex items-center justify-center gap-1">
    <LinkNav href="#" text="Reservas" />
    <LinkNav href="#" text="Contactar" />

  </ul>
</nav>