<div class="ss relative">
  <slot/>
</div>

<style>
  .ss::before, .ss::after {
    content: '';
    width: 125%;
    height: 2px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
  }
  
  .ss::before {
    right: 100%;
    background: linear-gradient(-90deg, var(--color-primary-700), transparent);
  }
  .ss::after {
    left: 100%;
    background: linear-gradient(90deg, var(--color-primary-700) , transparent);
  }
</style>