---
interface Props {
  isTitle?: boolean
}
const { isTitle } = Astro.props as Props
const classBottom = isTitle ? 'before:bottom-1/2 before:-translate-y-1/2 after:bottom-1/2 after:-translate-y-1/2': 'before:bottom-0 after:bottom-0'
---
<div class:list={['ss relative w-max', classBottom]}>
  <slot/>
</div>

<style>
  .ss::before, .ss::after {
    content: '';
    min-width: 120px;
    width: 100%;
    max-width: 200px;
    height: 2px;
    position: absolute;
    /* bottom: 0; */
    border-radius: 50%;
  }
  
  .ss::before {
    right: 100%;
    background: linear-gradient(-90deg, var(--color-primary-700), transparent);
  }
  .ss::after {
    left: 100%;
    background: linear-gradient(90deg, var(--color-primary-700) , transparent);
  }
</style>